<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<property scope="local" name="app.context.name" value="test-auth.rest" />
    <property scope="local" name="app.base.package.name" value="org.opentestsystem.authoring.testauth" />
    <property scope="local" name="app.base.package.loglevel" value="debug" />
    <property scope="local" name="mna.appender.active" value="true" />
    <property scope="local" name="stdout.appender.active" value="true" />
    
	<include resource="logback-included-common-config.xml" />
    <logger name="log4j.logger.org.springframework.security.saml" level="INFO" />
    <logger name="org.springframework.security" level="INFO" />
    <logger name="org.opentestsystem" level="INFO" />
    <logger name="log4j.logger.org.opensaml" level="INFO" />
    <logger name="com.fasterxml.jackson.*" level="INFO" />
    
    <!-- uncomment the following line to stop logging the rest layer performance metric to mna -->
    <!--  <logger name="PERFORMANCE_REST" additivity="false" level="ERROR"/>-->
</configuration>
