<div data-ng-show="segmentList.length == 0" class="noSegments">*This Assessment does not currently have any adaptive segments</div>   
<div data-ng-hide="segmentList.length ==0">

    <div data-error-panel data-error-list="errors" data-error-header="Invalid item pool data detected:" data-relative-width="false"></div>
       
    <div class="left_menu_hidden" data-ng-show="(showTools || editorOpen) && !assessment.locked" data-ng-style="menuHidden && {'margin-left': '-221px'}" data-widget-navigation>
                    <h6 tabindex="-1">Tools</h6>
                    <div title="Top of Page" class="icons icon-arrow-up" data-ng-show="searchResponse.returnCount > 20" data-ng-click="moveToTop()" data-enter="moveToTop()" tabindex="-1"> </div>
                    <div title="TIB Search" class="icons icon-search"  data-ng-hide="assessment.locked || tableform.$visible " data-ng-click="openTibSearch()" data-enter="openTibSearch()" tabindex="0" data-focus-watch="showToolsFocus"> </div>
                    
                    <div title="Edit Items" id="editItems" class="icons icon-edit" data-ng-show="!tableform.$visible && !assessment.locked" data-ng-click="openEditor(tableform)" data-enter="openEditor(tableform)" tabindex="-1"> </div>
                    <div title="Save" id="saveItems" class="icons icon-save" data-ng-show="tableform.$visible && !assessment.locked" data-ng-click="tableform.$submit()" data-enter="tableform.$submit()" tabindex="0" data-focus-watch="editorOpen"> </div>
                    <div title="Cancel"  class="icons icon-remove"  data-ng-show="tableform.$visible && !assessment.locked" data-ng-disabled="tableform.$waiting" data-ng-click="tableform.$cancel();cancelEditor()" data-enter="tableform.$cancel();cancelEditor();" tabindex="-1"> </div>
                    
                    <div title="Move Items" class="icons icon-move"  data-ng-hide="assessment.locked || tableform.$visible" data-ng-click="openMoveItemWindow()" data-enter="openMoveItemWindow()" tabindex="-1"> </div>
                    <div title="Delete Items" class="icons icon-trash"  data-ng-hide="assessment.locked || tableform.$visible" data-ng-click="openDeleteItemWindow()" data-enter="openDeleteItemWindow()" tabindex="-1"> </div>
                      
                    <div title="Missing Items" class="icons icon-list"  data-ng-hide="assessment.locked || tableform.$visible" data-ng-click="toggleMissingStats()" data-enter="toggleMissingStats()" tabindex="-1"> </div>
                    <div title="Errors" class="icons icon-error" data-ng-hide="tableform.$visible || itemErrors.length == 0" data-ng-click="toggleErrors()" data-enter="toggleErrors()" tabindex="-1"> </div>
                    <div title="Bottom of Page" class="icons icon-arrow-down" data-ng-show="searchResponse.returnCount > 20" data-ng-click="moveToBottom()" data-enter="moveToBottom()" tabindex="-1"> </div>
                </div>

                <div class="left_menu_visible_tib_search" data-ng-show="showTibSearch">
                    <div data-tib-item-search data-tenant-id="assessment.tenantId" data-segment-id="searchParams.segmentId" data-segment-map="segmentMap"  data-location-type="locationType" data-group-id="searchParams.itemGroupId" data-close-search="tibSearchClosed()" data-default-params="defaultTibParams"></div>
                </div>
                
                <div class="left_menu_errors" data-ng-show="showErrors">
                    <div class="tableWrapper">
                        <h3 tabindex="-1">Item Attribute Errors</h3>
                        <table class="errors">
                            <tr data-ng-repeat="error in itemErrors" data-ng-class-odd="'left_menu_errors_odd'" data-ng-class-even="'left_menu_errors_even'">
                                <td><div class="icons icon-error">&nbsp;</div></td>
                                <td><div>{{error}}</div></td>
                            </tr>
                        </table>
                    </div>
                    <div class="menu_button_bar">
                        <button type="button" class="boxBtn" data-ng-click="toggleErrors()" tabindex="0">
                            <span class="btnIcon icon_sprite icon_cancel2" aria-hidden="true"></span>
                            <span class="btnText">Close</span>
                        </button>
                    </div>  
                </div>
                    
                <div class="left_menu_visible_item_count" data-ng-show="showStats">
                    <div class="section">
                        <div class="fieldGroup">
                            <div data-ng-repeat="error in widget.errors">
                                <div><span class="icon_sprite icon_error error"></span>{{error}}</div>
                            </div>
                            <button type="button" class="boxBtn" data-ng-click="focusTools()" tabindex="0" data-focus-watch="showStats">
                                <span class="btnIcon icon_sprite icon_cancel2" aria-hidden="true"></span>
                                <span class="btnText">Close</span>
                            </button>
                            <h5 tabindex="-1">Missing Items for Segment: {{currentSegmentLabel}}</h5>
                            <div data-ng-show="syncIndicator"><img src="resources/testauth/images/loading-small.gif" alt="" /></div>
                            <div data-ng-hide="missingItemList" style="text-align:left;font-weight:bold;">No missing items.</div>
                            <div class="tableWrapper" data-ng-hide="syncIndicator || !missingItemList">
                                    <table class="dataTable withHeader" role="grid">
                                       <colgroup>
                                            <col>
                                            <col class="actionColumn">
                                            <col class="actionColumn">
                                            <col class="actionColumn">
                                       </colgroup>
                                       <tr role="row">
                                            <th scope="col" id="missingItemsStandardKeyHeader" title="Standard Key" data-sort-column="primaryStandard">Standard Key</th>
                                            <th scope="col" id="missingItemsGradeHeader" title="Grade" data-sort-column="grade">Grade</th>
                                            <th scope="col" id="missingItemsOpHeader" title="OP" data-sort-column="opItems">OP</th>
                                            <th scope="col" id="missingItemsFtHeader" title="FT" data-sort-column="ftItems">FT</th>
							                <th scope="col" id="missingItemsActionHeader" title="Action" class="noSort">Action</th>                    
                                       </tr>
                                       <tr data-ng-repeat="itemMap in missingItemList" role="row" id="missingItemsrow{{$index}}">
                                            <td scope="col" role="gridcell" aria-labelledby="missingItemsStandardKeyHeader">{{itemMap.standard}}</td>
                                            <td scope="col" role="gridcell" aria-labelledby="missingItemsGradeHeader">{{itemMap.grade}}</td>
                                            <td scope="col" role="gridcell" aria-labelledby="missingItemsOpHeader">{{itemMap.opItems}}</td>
                                            <td scope="col" role="gridcell" aria-labelledby="missingItemsFtHeader">{{itemMap.ftItems}}</td>
                                            <td scope="col" role="gridcell" aria-labelledby="missingItemsActionHeader" class="normalSpace">
                                                <div class="tableButtonGroup">
                                                    <button data-ng-click="searchWithStandardsKeys(itemMap.standard,itemMap.grade)" class="boxBtnTiny" tabindex="0">
                                                        <span class="btnIcon icon_sprite icon_saveAdd2" aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                            </td>                                            
                                       </tr>
                                </table>
                            </div>
                         </div>
                    </div>
                </div>
                
      <div class="left_menu_visible_item_mover" data-ng-show="showEditWidget">
                    <div class="itemSection">
                        <h5 tabindex="-1">{{moveOrDelete}} Selected Items</h5>
                        <div class="itemMove">
                            <div data-ng-repeat="error in widgeterrors">
                                <div><span class="icon_sprite icon_error error"></span>{{error}}</div>
                            </div>
                            <div class="moverSection" data-ng-hide="isMoveOrDeleteAllowed() || operationComplete">
                                    <div>Items need to be filtered by both a segment and a item group to move or delete them.</div>
                                    <button type="button" class="boxBtn" data-ng-click="closeEditBar()" tabindex="0">
                                                <span class="btnIcon icon_sprite icon_cancel2" aria-hidden="true"></span>
                                                <span class="btnText">Cancel</span>
                                    </button>
                            </div>
                            <div class="moverSection" data-ng-show="isMoveOrDeleteAllowed()">
                                     <div>
                                          <label for="moveItems" title="Selected Items">Selected Items:</label> 
                                          <span class="selectedItemsList">{{getSelectedItems()}}</span>
                                     </div>
                                     <div><a data-ng-click="checkAll()">Check All</a> - <a data-ng-click="uncheckAll()">Uncheck All</a></div>
                                     <div><label for="moveSegment" title="Segment">Segment:</label> <span>{{segmentMap[searchParams.segmentId].label}}</span></div>
                                     <div><label for="moveGroup" title="Item Group">Item Group:</label><span> {{itemGroupMap[searchParams.itemGroupId].groupName}}</span></div>
                                </div>
                                <div class="moverSection" data-ng-show="isMoveAllowed()">
                                            <div>
                                                 <label for="moveSegment" title="Target Segment">Target Segment:</label>
                                                 <select data-ng-model="moveTargetSegmentId" data-ng-change="refreshMoveGroups(moveTargetSegmentId)" data-ng-options="value.id as value.label for (key,value) in segmentMap" tabindex="0" title="Target Segment" data-focus-watch="showEditWidget"></select>
                                            </div>
                                            <div>
                                                <label for="moveGroup" title="Target Item Group">Target Item Group:</label>
                                                <select class="itemGroupDropdown" data-ng-model="moveTargetGroupId" data-ng-options="grp.id as grp.groupName for grp in moveItemGroupList" tabindex="0" title="Target Item Group"></select>
                                            </div>
                                           <button type="button" class="boxBtn" data-ng-click="moveItems()" tabindex="0" data-ng-disabled="moveDeleteControlsNotAllowed()" data-ng-show="showMoveDeleteButton">
                                               <span class="btnIcon icon_sprite icon_save2" aria-hidden="true"></span>
                                               <span class="btnText">Move Selected</span>
                                           </button>
                                            <button type="button" class="boxBtn" data-ng-click="closeEditBar()" tabindex="0">
                                                <span class="btnIcon icon_sprite icon_cancel2" aria-hidden="true"></span>
                                                <span class="btnText">Cancel</span>
                                            </button>
                                </div>
                                <div class="moverSection" data-ng-show="isDeleteAllowed()">
                                           <button type="button" class="boxBtn" data-ng-click="deleteItems()" tabindex="0" data-focus-watch="showEditWidget" data-ng-disabled="moveDeleteControlsNotAllowed()" data-ng-show="showMoveDeleteButton">
                                               <span class="btnIcon icon_sprite icon_delete3" aria-hidden="true"></span>
                                               <span class="btnText">Delete Selected</span>
                                           </button>
                                            <button type="button" class="boxBtn" data-ng-click="closeEditBar()" tabindex="0">
                                                <span class="btnIcon icon_sprite icon_cancel2" aria-hidden="true"></span>
                                                <span class="btnText">Cancel</span>
                                            </button>
                                </div>
                                <div class="moverSection" data-ng-show="operationComplete">
                                      <div>
                                          <label for="moveSegment" title="Move Segment">{{bulkEditMessage}}</label>
                                      </div>
                                      <div>
                                         <button type="button" class="boxBtn" data-ng-click="closeEditBar()" tabindex="0">
                                             <span class="btnIcon icon_sprite icon_cancel2" aria-hidden="true"></span>
                                             <span class="btnText">Cancel</span>
                                         </button>
                                      </div>
                                </div>
                         </div>
                        <div class="itemMove" data-ng-show="isDeleteAllowed()">
                        <h5 tabindex="-1">{{moveOrDelete}} ALL Segment Items</h5>
	                        <div class="moverSection" data-ng-show="isDeleteAllowed()">
	                            <button type="button" class="boxBtn" data-ng-click="deleteAllSegmentItems()" tabindex="0" data-ng-show="showMoveDeleteButton">
	                                <span class="btnIcon icon_sprite icon_delete3 ng-class:{ajax_indicator:deletingAll}" aria-hidden="true"></span>
	                                <span class="btnText">Delete All Segment Items</span>
	                            </button>
	                        </div>
                        </div>
                      </div>
                    </div>
                    
  
  <form data-editable-form  name="tableform" data-onaftersave="saveAll(searchResponse.searchResults)" data-onshow="disableSearch();">
    <div data-searchable data-search-promise="searchItems(params)" data-search-params="searchParams" data-search-response="searchResponse" data-broadcast-signal="initiate-itempool-search" data-deactivate-initial-search="true">
            <div class="fieldGroup ng-class:{disabledSearch:disabledSearch}">
                    <ul>
                        <li>
                            <span>
                                <label for="segmentId">Segment:</label>
                                <select data-ng-disabled="disabledSearch" data-ng-model="searchParams.segmentId" data-ng-change="segmentChanged()" data-ng-options="segment.id as segment.position + ' - ' + segment.label for segment in segmentList | adaptiveSegments" tabindex="0" title="Segment"></select>
                            </span>
                        </li>
                        <li>
                            <span>
                                <label for="primaryStandard">Standards Key:</label>
                                <input data-ng-disabled="disabledSearch" name="primaryStandard" data-ng-model="searchParams.primaryStandard" tabindex="0" alt="Standard Key" />
                            </span>
                        </li>
                        <li>
                            <span>
                                <label for="itemGroupId">Item Group:</label>
                                <select data-ng-disabled="disabledSearch" data-ng-model="searchParams.itemGroupId"  data-search-on-change data-ng-options="value.id as value.groupName  for (key,value) in itemGroupMap" tabindex="0" title="Item Group"></select>
                            </span>
                        </li>
                        <li>
                            <span>
                                <label for="tibIdentifier">Item Identifier:</label>
                                <input data-ng-disabled="disabledSearch" name="tibIdentifier" data-ng-model="searchParams.tibIdentifier" tabindex="0" alt="Item Identifier" />
                            </span>
                        </li>
                        <li>
                            <span>
                                <label for="interactionType">Interaction Type:</label>
                                <input data-ng-disabled="disabledSearch" name="interactionType" data-ng-model="searchParams.interactionType" tabindex="0" alt="Interaction Type"/>
                            </span>
                        </li>
                        <li>
                            <span>
                                <label for="grade">Grade:</label>
		                        <input data-ng-disabled="disabledSearch" type="text" data-ui-select2="gradesSelector" data-ng-model="searchParams.intendedGrade" tabindex="0" alt="Grade" />
                            </span>
                        </li>
                    </ul>
                    <button type="button" type="button" class="boxBtn" data-search-on-click data-active-indicator="searchResponse.searching" tabindex="0">
                        <span class="btnIcon icon_search ng-class:{ajax_indicator:searchResponse.searching}" aria-hidden="true"></span>
                        <span class="btnText">Search</span>
                    </button>
                </div>
          
        <div data-pageable data-paging-info="searchResponse" data-search-params="searchParams" >
        <div><a  data-ng-class="{selected : details}" data-ng-click="viewDetails()">View Item Details</a> - <a data-ng-class="{selected : !details}" data-ng-click="viewAttributes()">View Item Attributes</a></div>
        <div class="tableWrapper">
                <table class="dataTable withHeader" role="grid">
                   <colgroup>
                        <col style="width:16%">
                        <col style="width:14%">
                        <col>
                        
                        <col data-ng-if="details">
                        <col data-ng-if="details"  style="width:10%">
                        <col data-ng-if="details">
                        <col data-ng-if="details">
                        
                        <col data-ng-if="!details">
                        <col data-ng-if="!details">
                        <col data-ng-if="!details">
                        <col data-ng-if="!details">
                        <col data-ng-if="!details">
                         
                        <col style="width:20%">
                   </colgroup>
                   <tr role="row">
                        <th scope="col" id="standardKeyHeader" title="Standard Key" data-sort-column="primaryStandard">Standard Key</th>
                        <th scope="col" id="itemIdHeader" title="Item Identifier" data-sort-column="tibIdentifier">Item Identifier</th>
                        <th scope="col" id="typeHeader" title="Type" data-sort-column="interactionType">Interaction Type</th>

                        <th scope="col" id="versionHeader" title="Version" data-ng-if="details" data-sort-column="version">Version</th>
                        <th scope="col" id="gradeHeader" title="Grade" data-ng-if="details" data-sort-column="intendedGrade">Grade</th>
                        <th scope="col" id="subjectHeader" title="Subject" data-ng-if="details" data-sort-column="subject">Subject</th>
                        <th scope="col" id="statusHeader" title="Status" data-ng-if="details" data-sort-column="status">Status</th>
                        
                        <th scope="col" id="adminHeader" title="Admin Required" data-ng-if="!details" data-sort-column="adminRequired">Admin Required</th>
                        <th scope="col" id="responseHeader" title="Response Required" data-ng-if="!details" data-sort-column="responseRequired">Response Required</th>
                        <th scope="col" id="activeHeader" title="Active" data-ng-if="!details" data-sort-column="active">Active</th>
                        <th scope="col" id="fieldTestHeader" title="Field Test Item" data-ng-if="!details" data-sort-column="fieldTestItem">Field Test Item</th>
                        <th scope="col" id="blockIdHeader" title="Block Id" data-ng-if="!details" data-sort-column="blockId">Block Id</th>
                        <th scope="col" id="locationHeader" title="Location">Location</th>
                   </tr>
                   <tbody data-ng-repeat="item in searchResponse.searchResults" >
                      <tr data-ng-class="{ 'selectedItemRow': item.segmentId == segment.id || selectedItems[item.id] }" role="row" id="row{{$index}}">
                        <td scope="col" role="gridcell" aria-labelledby="standardKeyHeader">{{item.primaryStandard}}</td>
                        <td scope="col" role="gridcell" aria-labelledby="itemIdHeader">{{item.tibIdentifier}}</td>
                        <td scope="col" role="gridcell" aria-labelledby="typeHeader">{{item.interactionType}}</td>
                        <td scope="col" role="gridcell" aria-labelledby="versionHeader" data-ng-if="details">{{item.version}}</td>
                        <td scope="col" role="gridcell" aria-labelledby="gradeHeader" data-ng-if="details">{{item.intendedGrade}}</td>
                        <td scope="col" role="gridcell" aria-labelledby="subjectHeader" data-ng-if="details">{{item.subject}}</td>
                        <td scope="col" role="gridcell" aria-labelledby="statusHeader" data-ng-if="details">{{item.status}}</td>
                        <td scope="col" role="gridcell" aria-labelledby="adminHeader" data-ng-if="!details">
                            <a href="#" data-editable-checkbox="getLocation(item).adminRequired">{{ getLocation(item).adminRequired ? "Yes" : "No" }}</a>
                        </td>
                        <td scope="col" role="gridcell" aria-labelledby="responseHeader" data-ng-if="!details">
                            <a href="#" data-editable-checkbox="getLocation(item).responseRequired">{{ getLocation(item).responseRequired ? "Yes" : "No" }}</a>
                        </td>
                        <td scope="col" role="gridcell" aria-labelledby="activeHeader" data-ng-if="!details">
                            <a href="#" data-editable-checkbox="getLocation(item).active">{{ getLocation(item).active ? "Yes" : "No" }}</a>
                        </td>
                        <td scope="col" role="gridcell" aria-labelledby="fieldTestHeader" data-ng-if="!details">
                            <a href="#" data-editable-checkbox="getLocation(item).fieldTestItem">{{ getLocation(item).fieldTestItem ? "Yes" : "No" }}</a>
                        </td>
                        <td scope="col" role="gridcell" aria-labelledby="blockIdHeader" data-ng-if="!details">
                            <span data-editable-text="getLocation(item).blockId">{{getLocation(item).blockId}}</span>
                        </td>
                        <td scope="col" role="gridcell" aria-labelledby="locationHeader" class="normalSpace">
                            <div class="moveselector">
                                 <input data-ng-show="showItemSelectors" data-ng-model="itemCheckboxMap[item.tibIdentifier]" type="checkbox" value="item.id" tabindex="0" alt="Show Item Selectors" /> {{getLocationName(item)}}
                            </div>
                        </td>
                      </tr>
                    </tbody>
            </table>
            <div id="bottomOfTable"></div>  
            </div>
        </div>
        <div data-ng-show="searchResponse.searchResults.length == 0"><strong>No items assigned to the segment pool.</strong></div>
      
</div> 
 </form> 
 </div>
