<div class="boxTitle"><h5 tabindex="-1">Publish<span class="control-label-required">Indicates required field</span></h5></div>
<div>
<div class="tabInfo">
    <a data-ng-class="{selected : isActiveLink('assessmenthome.publishinghome.publishing')}" data-ng-click="goToSubPage($event, 'assessmenthome.publishinghome.publishing')" data-ng-keydown="goToSubPage($event, 'assessmenthome.publishinghome.publishing')" tabindex="0" title="Publishing">Publishing</a> |
    <a data-ng-class="{selected : isActiveLink('assessmenthome.publishinghome.itemmetadataconfig')}" data-ng-click="goToSubPage($event, 'assessmenthome.publishinghome.itemmetadataconfig')" data-ng-keydown="goToSubPage($event, 'assessmenthome.publishinghome.itemmetadataconfig')" tabindex="0" title="Item Metadata Configuration">Item Metadata Configuration</a> |
    <a data-ng-class="{selected : isActiveLink('assessmenthome.publishinghome.history')}" data-ng-click="goToSubPage($event, 'assessmenthome.publishinghome.history')" data-ng-keydown="goToSubPage($event, 'assessmenthome.publishinghome.history')" tabindex="0" title="Approval History">Approval History</a>
</div>
<div class="clear"></div>
<div data-ui-view="publishing-home-view"></div>
</div>
