<div data-error-panel data-error-list="errors"></div>

<div class="formWrapper">
    <form data-editable-form name="editableForm" data-onaftersave="save()" data-shown="isNew">
    <div data-ng-show="editableForm.$dirty" class="dirtynag">* Warning: You have unsaved changes</div>
    <h5 tabindex="-1">Form<span class="control-label-required">Indicates required field</span></h5>
    <div class="fieldGroup" data-ng-show="languages.length == 0">Form cannot be configured because there are no items in TIB for this assessment's standards publication.</div>
    <div class="fieldGroup" data-ng-show="languages.length > 0">
        <ul>
            <li>
	            <span>
	                <label data-ng-class="{'control-label-required' : editableForm.$visible, 'control-label' : !editableForm.$visible}" for="form.name" title="Form Name">Form Name:</label>
	                <span data-e-maxlength="60" data-editable-text="form.name" data-e-name="name" data-e-focus-on="focusEdit">
	                   <span class="viewSpanLeft">{{form.name}}</span>
	                </span>
	            </span>
	        </li>
	        <li>
	            <span> 
	                <label data-ng-class="{'control-label-required' : editableForm.$visible, 'control-label' : !editableForm.$visible}" for="language" title="Language">Language:</label>
	                <select style="width: 100px;" data-ng-readonly="!editableForm.$visible" data-ui-select2 data-ng-model="form.language" name="language" data-ng-options="language.text as language.text for language in languages" tabindex="0" title="Language">
	                </select>
	            </span>
	        </li>
	    </ul>
        <span data-ng-show="!editableForm.$visible">
             <button type="button" class="boxBtn" data-ng-hide="assessment.locked" data-ng-click="edit()" tabindex="0">
                <span class="btnIcon icon_sprite icon_edit2 ng-class:{ajax_indicator:savingIndicator}" aria-hidden="true"></span>
                <span class="btnText">Edit</span>
            </button>
            <button type="button" class="boxBtn" data-ng-disabled="editableForm.$waiting" data-ng-click="back()" tabindex="0">
                    <span class="btnIcon icon_sprite icon_reTry2" aria-hidden="true"></span>
                    <span class="btnText">Back</span>
            </button>
        </span>
        <span data-ng-show="editableForm.$visible">
             <button type="submit" class="boxBtn" data-ng-disabled="editableForm.$waiting" tabindex="0">
                <span class="btnIcon icon_sprite icon_save2 ng-class:{ajax_indicator:savingIndicator}" aria-hidden="true"></span>
                <span class="btnText">Save</span>
            </button>
            <button type="button" class="boxBtn" data-ng-disabled="editableForm.$waiting" data-ng-hide="isNew" data-ng-click="cancel()" tabindex="0">
                <span class="btnIcon icon_sprite icon_cancel2" aria-hidden="true"></span>
                <span class="btnText">Cancel</span>
            </button>
            <button type="button" class="boxBtn" data-ng-disabled="editableForm.$waiting" data-ng-show="isNew" data-ng-click="back()" tabindex="0">
                    <span class="btnIcon icon_sprite icon_reTry2" aria-hidden="true"></span>
                    <span class="btnText">Back</span>
            </button>
        </span> 	        
	</div>
	</form>
</div>
