<div class="boxTitle"><h5 tabindex="-1">Forms</h5></div>
<div>
<div class="tabInfo">
    <a data-ng-class="{selected : isActiveLink('assessmenthome.formhome.formsearch')}" data-ng-click="goToSubPage($event, 'assessmenthome.formhome.formsearch')" data-ng-keydown="goToSubPage($event, 'assessmenthome.formhome.formsearch')" tabindex="0" title="Forms">Forms</a> |
    <a data-ng-class="{selected : isActiveLink('assessmenthome.formhome.partition')}" data-ng-click="goToSubPage($event, 'assessmenthome.formhome.partitionsearch')" data-ng-keydown="goToSubPage($event, 'assessmenthome.formhome.partitionsearch')" tabindex="0" title="Form Partitions">Form Partitions</a> |
    <a data-ng-class="{selected : isActiveLink('assessmenthome.formhome.items')}" data-ng-click="goToSubPage($event, 'assessmenthome.formhome.items')" data-ng-keydown="goToSubPage($event, 'assessmenthome.formhome.items')" tabindex="0" title="Items">Items</a> |
    <a data-ng-class="{selected : isActiveLink('assessmenthome.formhome.itemgroup')}" data-ng-click="goToSubPage($event, 'assessmenthome.formhome.itemgroups')" data-ng-keydown="goToSubPage($event, 'assessmenthome.formhome.itemgroups')" tabindex="0" title="Item Groups">Item Groups</a> |
    <a data-ng-class="{selected : isActiveLink('assessmenthome.formhome.sorting')}" data-ng-click="goToSubPage($event, 'assessmenthome.formhome.sorting')" data-ng-keydown="goToSubPage($event, 'assessmenthome.formhome.sorting')" tabindex="0" title="Reorder">Reorder</a> 
</div>
<div class="clear"></div>
<div data-ui-view="forms-home-view"></div>
</div>
