<div class="boxTitle"><h5 tabindex="-1">Reporting<span class="control-label-required">Indicates required field</span></h5></div>
<div data-error-panel data-error-list="errors"></div>

<div class="formWrapper">
    <form data-editable-form name="editableForm" data-onaftersave="save()" data-shown="isNew">
    <div data-ng-show="editableForm.$dirty" class="dirtynag">* Warning: You have unsaved changes</div>
    <h3 tabindex="-1">{{formAction}} Reporting Measure</h3>
    <div class="fieldGroup">
        <ul>
            <li>
                <span>
                    <label data-ng-class="{'control-label-required' : editableForm.$visible, 'control-label' : !editableForm.$visible}" for="reportingMeasure.blueprintReferenceType" title="BP Reference Type">BP Reference Type:</label>
                    <span data-e-ng-disabled="assessment.locked" data-editable-select="reportingMeasure.blueprintReferenceType" data-e-name="blueprintReferenceType" 
                        data-e-ng-options="blueprintReferenceType for blueprintReferenceType in configuredBlueprintReferenceTypes"
                        data-e-ng-change="loadReferenceNames(true, $data)">
                        <span class="propertyBox"> {{reportingMeasure.blueprintReferenceType}}</span>
                    </span>                        
                </span>
	        </li>
	        <li>
                <span>
                    <label data-ng-class="{'control-label-required' : editableForm.$visible, 'control-label' : !editableForm.$visible}" for="reportingMeasure.blueprintReferenceName" title="BP Reference">BP Reference:</label>
                    <span data-e-ng-disabled="assessment.locked" data-editable-select="reportingMeasure.blueprintReferenceName" data-e-name="blueprintReferenceId" 
                        data-e-ng-options="blueprintReferenceName for blueprintReferenceName in configuredBlueprintReferenceNames" data-e-ng-change="loadScoringRules(true, $data)">
                        <span class="propertyBox"> {{reportingMeasure.blueprintReferenceName}}</span>
                  </span>                      
                </span>
	        </li>
	        <li data-ng-show="showScoringRule">
                <span>
                    <label title="Available Scoring Rules">Available Scoring Rules:</label>
                    <select data-ng-disabled="!editReportingMeasure" data-ng-model="reportingMeasure.availableSelectedScoringRules" data-ng-change="setInclude()" data-ng-options="availScoringRule as availScoringRule.label for availScoringRule in availableScoringRules" multiple="multiple" style="height: 200px;" tabindex="0" title="Available Scoring Rules">
                    </select>
                </span>
	        </li>
	        <li data-ng-show="showScoringRule">
                <span>
                    <label data-ng-class="{'control-label-required' : editableForm.$visible, 'control-label' : !editableForm.$visible}" title="Selected Scoring Rules">Selected Scoring Rules:</label>
                    <select data-ng-disabled="!editReportingMeasure" data-ng-model="reportingMeasure.requestedSelectedScoringRules" data-ng-change="setExclude()" data-ng-options="reqScoringRule as reqScoringRule.label for reqScoringRule in requestedScoringRules" multiple="multiple" style="height: 200px;" class="dropdown-mid" tabindex="0" title="Selected Scoring Rules">
                    </select>
                    <span class="editable-error ng-binding" >{{errorsMap['scoringRuleIdList'][0]}}</span> 
                </span>
	        </li>
	        <li data-ng-show="showScoringRule">
                <span>
                    <label></label>
			     <button data-ng-disabled="!editReportingMeasure || !includeActive" type="button" class="boxBtn" style="width:33%;" data-ng-click="include()" tabindex="0">
			         <span class="btnIcon icon_sprite icon_saveAdd2 ng-class:{ajax_indicator:savingIndicator}" style="width:25%;" aria-hidden="true"></span>
			         <span class="btnText" style="width:67%; text-align: left;" >Add</span>
			     </button>
			     </span>
	        </li>
	        <li data-ng-show="showScoringRule">
                <span>
                    <label></label>
			     <button data-ng-disabled="!editReportingMeasure || !excludeActive" type="button" class="boxBtn" style="width:33%;" data-ng-click="exclude()" tabindex="0">
			         <span class="btnIcon icon_sprite icon_delete2 ng-class:{ajax_indicator:savingIndicator}" style="width:25%;" aria-hidden="true"></span>
			         <span class="btnText" style="width:67%; text-align: left;" >Remove</span>
			     </button>
			     </span>
	        </li>
	    </ul>
        <span data-ng-show="!editableForm.$visible">
             <button type="button" data-ng-hide="assessment.locked"  class="boxBtn" data-ng-click="openEditor()" tabindex="0">
                <span class="btnIcon icon_sprite icon_edit2 ng-class:{ajax_indicator:savingIndicator}" aria-hidden="true"></span>
                <span class="btnText">Edit</span>
            </button>
            <button type="button" class="boxBtn" data-ng-disabled="editableForm.$waiting" data-ng-click="returnToSearch()" tabindex="0">
                <span class="btnIcon icon_sprite icon_reTry2" aria-hidden="true"></span>
                <span class="btnText">Back</span>
            </button>
        </span>
        <span data-ng-show="editableForm.$visible">
             <button type="submit" class="boxBtn" data-ng-disabled="editableForm.$waiting" tabindex="0">
                <span class="btnIcon icon_sprite icon_save2 ng-class:{ajax_indicator:savingIndicator}" aria-hidden="true"></span>
                <span class="btnText">Save</span>
            </button>
            <button type="button" class="boxBtn" data-ng-disabled="editableForm.$waiting" data-ng-hide="isNew" data-ng-click="cancelEditor()" tabindex="0">
                <span class="btnIcon icon_sprite icon_cancel2" aria-hidden="true"></span>
                <span class="btnText">Cancel</span>
            </button>
            <button type="button" class="boxBtn" data-ng-disabled="editableForm.$waiting" data-ng-show="isNew" data-ng-click="returnToSearch()" tabindex="0">
                    <span class="btnIcon icon_sprite icon_reTry2" aria-hidden="true"></span>
                    <span class="btnText">Back</span>
            </button>
        </span> 	    
	 </div>
	 </form>
	 
</div>
