
<div class="boxTitle"><h2 tabindex="-1">Item Selection Algorithm Search</h2></div>
    <div data-searchable data-search-promise="searchItemSelectionAlgorithms(params)" data-search-params="searchParams" 
            data-search-response="searchResponse" data-search-post-process="postProcessItemSelectionAlgorithms(response)">
        <div class="fieldGroup">
            <h5 tabindex="-1">Search Filters</h5>
            <ul>
                <li>
                    <span>
                        <label for="name" title="Name">Name:</label>
                        <input name="name" data-ng-model="searchParams.name" tabindex="0" alt="Name" />
                    </span>
                </li>
                <li>
	                <label for="itemSelectionAlgorithm.itemSelectionAlgorithmType" title="Algorithm Type">Algorithm Type:</label>
	                <select data-ng-model="searchParams.itemSelectionAlgorithmType" data-ng-options="itemSelectionAlgorithmType for itemSelectionAlgorithmType in availableItemSelectionAlgorithmTypes" tabindex="0" title="Algorithm Type"></select>
                </li>
            </ul>
            <button type="button" type="button" class="boxBtn" data-search-on-click tabindex="0">
                <span class="btnIcon icon_search ng-class:{ajax_indicator:searchResponse.searching}" aria-hidden="true"></span>
                <span class="btnText">Search</span>
            </button>
            <button type="button" type="button" class="boxBtn" data-ng-click="createNewItemSelectionAlgorithm()" tabindex="0">
                <span class="btnIcon icon_sprite icon_saveAdd2" aria-hidden="true"></span> <span class="btnText">New</span>
            </button>
        </div>
        <div data-pageable data-paging-info="searchResponse" data-search-params="searchParams" data-change-page="changePage()">
            <table class="dataTable" data-accessible-table role="grid">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col class="doubleActionColumn">
                </colgroup>
                <tr role="row">
                    <th scope="col" id="nameHeader" title="Name" data-sort-on-click data-sort-column="name" class="headerSortUp">Name</th>
                    <th scope="col" id="versionHeader" title="Version" data-sort-on-click data-sort-column="version">Version</th>
                    <th scope="col" id="algorithmTypeHeader" title="Algorithm Type" data-sort-on-click data-sort-column="itemSelectionAlgorithmType">Algorithm Type</th>
                    <th scope="col" id="numParamsHeader" title="Number of Parameters">Number of Parameters<br>(Scalar/Blueprint)</th>
	                <th scope="col" id="actionHeader" title="Action" class="noSort">Action</th>                    
                </tr>
                <tr data-ng-repeat="itemSelectionAlgorithm in searchResponse.searchResults" role="row" id="row{{$index}}">
                    <td scope="col" role="gridcell" aria-labelledby="nameHeader">{{itemSelectionAlgorithm.name}}</td>
                    <td scope="col" role="gridcell" aria-labelledby="versionHeader">{{itemSelectionAlgorithm.version}}</td>
                    <td scope="col" role="gridcell" aria-labelledby="algorithmTypeHeader">{{itemSelectionAlgorithm.itemSelectionAlgorithmType}}</td>
                    <td scope="col" role="gridcell" aria-labelledby="numParamsHeader">{{itemSelectionAlgorithm.scalarParameters.length}}/{{itemSelectionAlgorithm.blueprintParameters.length}}</td>
                    <td scope="col" role="gridcell" aria-labelledby="actionHeader" class="normalSpace">
                        <div class="tableButtonGroup" data-title-text>
                            <button data-ng-click="view(itemSelectionAlgorithm)" class="boxBtn" id="view{{$index}}" tabindex="{{$index == 0 ? 0 : -1}}">
                                <span class="btnIcon icon_sprite icon_preview2" aria-hidden="true"></span>
                            </button>
                            <button data-ng-click="remove(itemSelectionAlgorithm)" class="boxBtn" data-ng-show="itemSelectionAlgorithm.canEdit" id="remove{{$index}}" tabindex="-1">
                                <span class="btnIcon icon_sprite icon_delete2" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            </div>
        </div>
