<div data-error-panel data-error-list="errors"></div>

<div class="formWrapper">
<form data-editable-form name="editableForm" data-onaftersave="save()" data-shown="isNew">    
    <div data-ng-show="editableForm.$dirty" class="dirtynag">* Warning: You have unsaved changes</div>
    <h5 tabindex="-1">Item Group<span class="control-label-required">Indicates required field</span></h5>
    <div class="fieldGroup">
        <ul>
            <li data-ng-show="onFormsPage()">
                <span> 
                    <label data-ng-class="{'control-label-required' : editableForm.$visible, 'control-label' : !editableForm.$visible}" for="form" title="Form">Form:</label>
                    <span data-editable-select="formId" data-e-name="formId" data-e-ng-options="value.id as value.name for (key,value) in formListMap"  data-e-ng-change="refreshFormPartitions()">
                           
                    </span>
                </span>
            </li>
            <li data-ng-hide="onFormsPage()">
                <span> 
                    <label data-ng-class="{'control-label-required' : editableForm.$visible, 'control-label' : !editableForm.$visible}" for="itemGroup.segmentId" title="Segment Id">Segment Id:</label>
                    <span data-editable-select="itemGroup.locationId" data-e-name="locationId" data-e-ng-options="value.id as value.label for (key,value) in segmentListMap">
                      {{segmentListMap[itemGroup.locationId].position}} - {{segmentListMap[itemGroup.locationId].label}}
                    </span>
                </span>
            </li>
            <li>
                <span> 
                    <label data-ng-class="{'control-label-required' : editableForm.$visible, 'control-label' : !editableForm.$visible}" for="itemSelectionAlgorithm.name" title="Name">Name:</label>
                    <span data-editable-text="itemGroup.groupName" data-e-name="groupName" >{{itemGroup.groupName}}</span>
                </span>
            </li>
            <li>
                <span> 
                    <label data-ng-class="{'control-label-required' : editableForm.$visible, 'control-label' : !editableForm.$visible}" for="itemGroup.maxResponses" title="Max Responses">Max Responses:</label>
                    <span data-editable-text="itemGroup.maxResponses" data-e-name="maxResponses" >{{itemGroup.maxResponses}}</span>
                </span>
            </li>
            <li>
                <span> 
                    <label data-ng-class="{'control-label-required' : editableForm.$visible, 'control-label' : !editableForm.$visible}" for="itemGroup.maxItems" title="Max Items">Max Items:</label>
                    <span data-editable-text="itemGroup.maxitems" data-e-name="maxitems" >{{itemGroup.maxitems}}</span>
                </span>
            </li>
            <li>
                 <span> 
                    <label  for="itemGroup.passageId" title="Passage Id">Passage Id:</label>
                    <span data-editable-text="itemGroup.passageId" data-e-name="passageId" >{{itemGroup.passageId}}</span>
                </span>
            </li>
            <li>
                 <span> 
                 </span>
            </li>
        </ul> 
         <span data-ng-show="!editableForm.$visible">
             <button type="button" class="boxBtn" data-ng-hide="assessment.locked" data-ng-click="edit()" tabindex="0">
	            <span class="btnIcon icon_sprite icon_edit2 ng-class:{ajax_indicator:savingIndicator}" aria-hidden="true"></span>
	            <span class="btnText">Edit</span>
	        </button>
	        <button type="button" class="boxBtn" data-ng-disabled="editableForm.$waiting" data-ng-click="back()" tabindex="0">
	                <span class="btnIcon icon_sprite icon_reTry2" aria-hidden="true"></span>
	                <span class="btnText">Back</span>
	        </button>
        </span>
        <span data-ng-show="editableForm.$visible">
	         <button type="submit" class="boxBtn" data-ng-disabled="editableForm.$waiting" tabindex="0">
	            <span class="btnIcon icon_sprite icon_save2 ng-class:{ajax_indicator:savingIndicator}" aria-hidden="true"></span>
	            <span class="btnText">Save</span>
	        </button>
	        <button type="button" class="boxBtn" data-ng-disabled="editableForm.$waiting" data-ng-hide="isNew" data-ng-click="cancel()" tabindex="0">
	            <span class="btnIcon icon_sprite icon_cancel2" aria-hidden="true"></span>
	            <span class="btnText">Cancel</span>
	        </button>
	        <button type="button" class="boxBtn" data-ng-disabled="editableForm.$waiting" data-ng-show="isNew" data-ng-click="back()" tabindex="0">
                    <span class="btnIcon icon_sprite icon_reTry2" aria-hidden="true"></span>
                    <span class="btnText">Back</span>
            </button>
        </span>
	</div>
    </form>
    <div class="clear"></div>
</div>  
