<div class="itemSearch">
    <div class="toolCloser">
        <h5 tabindex="-1">Add items from test item bank</h5>
    </div>
    <div data-ng-repeat="error in importerrors">
        <div><span class="icon_sprite icon_error error"></span>{{error}}</div>
    </div>  
    <div class="tibSearchfilterSummary">
        <ul class="oneCol">
            <li data-ng-show="filterOptions.length > 0">
                <span> 
                   <label for="name" title="Filter Description">Filter Description:</label>
                   <span class="displayText">{{getFilterSummary(params)}}</span>
                 </span>
             </li>
             <li data-ng-hide="paramErrors || metadataErrors">
                <span> 
                   <label title="Total Results">Total Results: </label>
                   <span class="displayText">{{itemSearchResponse.totalCount  | number:0 }} {{itemSearchResponse.totalCount == null ? "Click Search To Update" : ""}}</span>
                 </span>
             </li>
             <li data-ng-show="paramErrors">
                <span> 
                   <label title="Errors">Errors: </label>
                   <span class="displayText">{{paramErrors}}</span>
                 </span>
             </li>
             <li data-ng-show="metadataErrors">
                <span> 
                   <label title="Errors">Errors: </label>
                   <span class="displayText">{{metadataErrors}}</span>
                 </span>
             </li>
        </ul>
    </div>
    <div data-ng-show="importScreenVisible">
        <div class="itemSearchResults">
            <div class="importTarget" data-ng-hide="itemsImported || searchingTib || importingItems">
                <h3 tabindex="-1">Where should we put the imported items?</h3>
                <ul>
                    <li data-ng-show="importToSegment()">
                        <span> 
                            <label for="name" title="Segment">Segment:</label>
                            <select class="fixedInputField" data-ng-model="segmentId" data-ng-change="refreshItemGroups(segmentId)" data-ng-options="segment.id as segment.position + ' - ' + segment.label for (key, segment) in segmentMap" tabindex="0" title="Segment"></select>
                        </span>
                    </li>
                    <li data-ng-show="importToPartition()">
                        <span>
                            <label for="formPartition" title="Form Partition">Form Partition:</label>
                            <select class="fixedInputField" data-ng-model="formPartitionId" data-ng-change="refreshItemGroups(formPartitionId)" data-ng-options="key as value.form.name + ' - ' +value.name for (key,value) in formPartitionMap" tabindex="0" title="Form Partition"></select>
                        </span>
                    </li>
                    <li>
                        <span> 
                            <label for="itemGroup" title="Item Group">Item Group:</label>
                            <select class="fixedInputField" data-ng-model="itemGroupId" data-ng-options="value.id as value.groupName  for (key,value) in itemGroupMap" tabindex="0" title="Item Group"></select>
                        </span>
                    </li>
                </ul>
            </div>
                                      
            <div class="itemSearchResults" data-ng-show="itemsImported">
                <ul class="oneCol">
                    <li data-ng-show="segmentId">
                        <span> 
                            <label title="Target Segment">Target Segment:</label>
                            <span class="displayText">{{segmentMap[segmentId].position}} - {{segmentMap[segmentId].label}}</span>
                        </span>
                    </li>
                    <li data-ng-show="formPartitionId">
                        <span> 
                            <label title="Target Form Partition">Target Form Partition:</label>
                            <span class="displayText">{{formPartitionMap[formPartitionId].form.name}} - {{formPartitionMap[formPartitionId].name}}</span>
                        </span>
                    </li>
                    <li>
                        <span> 
                            <label title="Target Group">Target Group:</label>
                            <span class="displayText">{{itemGroupMap[itemGroupId].groupName}}</span>
                        </span>
                    </li>
                    <li>
                        <span> 
                            <label title="Items Imported">Items Imported:</label>
                            <span class="displayText">{{importResponse.itemsImported}}</span>
                        </span>
                    </li>
                    <li>
                        <span> 
                            <label title="Associated Items Imported">Associated Items Imported:</label>
                            <span class="displayText">{{importResponse.associatedItemsImported}}</span>
                        </span>
                    </li>
                    <li>
                        <span> 
                            <label title="Import Omitted">Import Omitted:</label>
                            <span class="displayText">{{importResponse.itemsOmitted}}</span>
                        </span>
                    </li>
                    <li data-ng-show="importResponse.importMillis">
                        <span> 
                            <label title="Import Time">Import Time:</label>
                            <span class="displayText">{{importResponse.importMillis/1000}} seconds</span>
                        </span>
                    </li>
                    <li data-ng-show="importResponse.message">
                        <span> 
                            <label title="Message">Message:</label>
                            <span class="displayText"> {{importResponse.message}}</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div data-ng-show="importingItems">
                Importing Items From Test Item Bank <div class="ajax_indicator-horiz"> </div> 
            </div>
            <div data-ng-hide="importingItems || searchingTib">
                <button data-ng-hide="itemsImported || !searchResultsFound || metadataErrors" type="button" type="button" class="boxBtn" data-ng-click="importItems()" tabindex="0">
                    <span class="btnIcon icon_sprite icon_saveAdd2" aria-hidden="true"></span>
                    <span class="btnText">Import</span>
                </button>
                <button  data-ng-hide="itemsImported || !searchResultsFound || metadataErrors" type="button" type="button" class="boxBtn" data-ng-click="showSearch()" tabindex="0">
                    <span class="btnIcon icon_sprite icon_node2" aria-hidden="true"></span>
                    <span class="btnText">Filter</span>
                </button>
                <button type="button" type="button" class="boxBtn" data-ng-click="cancel()" tabindex="0">
                    <span class="btnIcon icon_sprite icon_cancel2" aria-hidden="true"></span>
                    <span class="btnText">Close</span>
                </button>
            </div>
        </div>
    </div>
                  
    <div data-searchable data-search-promise="searchTibItems(params)" data-search-params="itemSearchParams" data-search-response="itemSearchResponse" data-deactivate-initial-search="true">
        <div data-ng-hide="importScreenVisible || previewVisible" >
            <div class="fieldGroup">
                <div class="buttons">
                    <button data-ng-hide="paramErrors || metadataErrors" type="button" type="button" class="boxBtn" data-search-on-click tabindex="0" data-focus-watch="showTibSearch">
                        <span class="btnIcon icon_search ng-class:{ajax_indicator:searchingTib}" aria-hidden="true"></span>
                        <span class="btnText">Search</span>
                    </button>
                    <br>
                    <button data-ng-hide="metadataErrors" type="button" type="button" class="boxBtn" data-ng-click="addParam()" tabindex="0">
                        <span class="btnIcon icon_sprite icon_saveAdd2" aria-hidden="true"></span>
                        <span class="btnText">Add Filter</span>
                    </button>
                    <br>
                    <button data-ng-hide="metadataErrors" type="button" type="button" class="boxBtn" data-ng-click="showPreview()" data-search-on-click tabindex="0">
                        <span class="btnIcon icon_sprite icon_preview2" aria-hidden="true"></span>
                        <span class="btnText">Preview</span>
                    </button>
                    <br>
                    <button type="button" type="button" class="boxBtn" data-ng-click="showImport()" data-ng-hide="!searchResultsFound || paramErrors || itemSearchResponse.totalCount === 0" data-search-on-click tabindex="0">
                        <span class="btnIcon icon_sprite icon_saveAdd2" aria-hidden="true"></span>
                        <span class="btnText">Import</span>
                    </button>
                    <button type="button" type="button" class="boxBtn" data-ng-click="cancel()" tabindex="0">
                        <span class="btnIcon icon_sprite icon_cancel2" aria-hidden="true"></span>
                        <span class="btnText">Close</span>
                    </button>
                </div>
                <div class="filters">
                    <ul class="oneCol">
                        <li data-ng-show="filterOptions.length > 0" data-ng-repeat="filter in params">
                            <span>
                                <select data-ng-change="filtersUpdated(filter)" data-ng-model="filter.filterName" data-ng-options="opt.key as opt.title for opt in filterOptions" tabindex="0" title="Filter Name">
                                    <option value="">Select...</option>
                                </select>
                                <span data-tib-metadata-auto-complete data-metadata-key="filter.filterName" data-metadata-value-model="filter.filterValue" data-tenant-id="tenantId"></span>
                                <button data-ng-click="removeParam($index)" class="itemBoxBtnTiny" tabindex="0">
                                    <span class="btnIcon icon_sprite icon_delete2" aria-hidden="true"></span>
                                </button>
                            </span>
                        </li>
                        <li data-ng-show="params.length == 0">
                            <span>Currently No Search Filters added</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
                
        <div data-ng-show="previewVisible" > 
            <div class="itemPreview" data-pageable data-paging-info="itemSearchResponse" data-search-params="itemSearchParams">
                <table class="dataTable" role="grid">
                    <colgroup>
                        <col class="actionColumn">
                        <col style="width:40%">
                        <col style="width:10%">
                        <col>
                        <col>
                        <col style="width:10%">
                    </colgroup>
                    <tr role="row">
                        <th scope="col" id="expanderHeader" title="Expander"></th>
                        <th scope="col" id="standardHeader" title="Primary Standard" data-sort-on-click data-sort-column="primaryStandard">Primary Standard</th>
                        <th scope="col" id="gradeHeader" title="Grade" data-sort-on-click data-sort-column="grade">Intended Grade</th>
                        <th scope="col" id="itemHeader" title="Item" data-sort-on-click data-sort-column="identifier">Item Identifier</th>
                        <th scope="col" id="typeHeader" title="Interaction Type" data-sort-on-click data-sort-column="interactionType">Interaction Type</th>
                        <th scope="col" id="statusHeader" title="Status" data-sort-on-click data-sort-column="status">Status</th>
                    </tr>
                    <tbody data-ng-repeat="item in itemSearchResponse.searchResults" data-expandable="item">
                        <tr role="row" id="row{{$index}}">
                            <td scope="col" role="gridcell" aria-labelledby="expanderHeader"><span data-ng-click="toggle()" data-ng-keydown="keyToggle($event)" data-ng-class="iconClass" tabindex="0" title="Expand for details"></span></td>
                            <td scope="col" role="gridcell" aria-labelledby="standardHeader"><span data-ng-repeat="itemStandardPublication in item.itemStandardPublicationList" style="display: table;">Primary: {{itemStandardPublication['PrimaryStandard']}} Secondary: {{itemStandardPublication['SecondaryStandard']}}</span></td>
                            <td scope="col" role="gridcell" aria-labelledby="gradeHeader">{{item.intendedGrade}}</td>
                            <td scope="col" role="gridcell" aria-labelledby="itemHeader">{{item.identifier}}</td>
                            <td scope="col" role="gridcell" aria-labelledby="typeHeader">{{item.interactionType}}</td>
                            <td scope="col" role="gridcell" aria-labelledby="statusHeader">{{item.status}}</td>
                        </tr>
                        <tr data-ng-show="expanded" class="expander">
                            <td colspan="6">
                                <ul class="itemDetails fieldGroup">
                                    <li>
                                        <label for="publicationKey" title="Publication Key">Publication Key:</label><span data-ng-repeat="itemStandardPublication in item.itemStandardPublicationList" style="display: table;">Primary: {{itemStandardPublication['PrimaryStandard']}} Secondary: {{itemStandardPublication['SecondaryStandard']}}</span>
                                    </li>
                                    <li>
                                        <label for="subject" title="Subject">Subject:</label><span>{{item.subject}}</span>
                                     </li>
                                    <li>
                                        <label for="interactionType" title="Interaction Type">Interaction Type:</label><span>{{item.interactionType}}</span>
                                    </li>
                                    <li>
                                        <label for="educationalDifficulty" title="Educational Difficulty">Educational Difficulty:</label><span>{{item.allIncludedMetatdata['EducationalDifficulty']}}</span>
                                    </li>
                                    <li>
                                        <label for="depthOfKnowledge" title="Depth Of Knowledge">Depth Of Knowledge:</label><span>{{item.allIncludedMetatdata['DepthOfKnowledge']}}</span>
                                    </li>
                                    <li>
                                        <label for="stimulusFormat" title="Stimulus Format">Stimulus Format:</label><span>{{item.allIncludedMetatdata['StimulusFormat']}}</span>
                                    </li>
                                    <li>
                                        <label for="associatedStimulus" title="Associated Stimulus">Associated Stimulus:</label><span>{{item.associatedStimulus == '' || item.associatedStimulus == null ? 'N/A' : item.associatedStimulus}}</span>
                                    </li>
                                    <li>
                                        <label for="version" title="Version">Version:</label><span>{{item.version}}</span>
                                    </li>
                                    <li></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>   
            <button type="button" type="button" class="boxBtn" data-ng-click="showSearch()" tabindex="0">
                <span class="btnIcon icon_sprite icon_node2" aria-hidden="true"></span>
                <span class="btnText">Filter</span>
            </button>
            <button type="button" type="button" class="boxBtn" data-ng-click="cancel()" tabindex="0">
                <span class="btnIcon icon_sprite icon_cancel2" aria-hidden="true"></span>
                <span class="btnText">Close</span>
            </button>
        </div>
    </div>                            
    <div class="clear"></div>
</div>
